/* ----css reset----- */
*{
    
    margin: 0;
    padding: 0;
}
/* ---------css logo----- */
#logo img{
    width: 50px;
    margin: 11px 40px;
    border-radius: 35px;
}

/* ---------css variable----- */
:root{
    --navbar-height: 59px;
}
/* ---------css navigation ---- */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
/* justify-content: center; */
}

/* - css navigation ---logo and img----- */




/* -- css navigation --list styling----- */

/* #navbar{
    position: absolute;
    top: 0px;

} */




#navbar ul{
    display: flex;
    font-family: 'Lobster', cursive;
}


#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.4;



}
#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;

}
#navbar ul li a{
    color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;


}
#navbar ul li a:hover{
    color: rgb(0, 0, 0);
  background: white;


}

/* home  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 562px;
    justify-content: center;
    align-items: center;
}
#home::before{

  content: "";
    background:  url(img/pancakes-g10475b243_1280.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 642px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Bree Serif', serif;
}
/* services */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 55px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 28px;

}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;


}
#services .box p{
    font-family: 'Bree Serif', serif;
    

}

/* clint  */
#client-section{
    position: relative;
    /* height: 344px; */
}
#client-section::before{
    content: "";
    position: absolute;
    background: url(img/food-g1f31537ba_640.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.3;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;

}

#clients img{
    height: 124px;

}

.client-item{
    padding: 34px;
}

#client img{
    height: 124px;
    
   

}
/* contact section */
#contact{
    position: relative;
    
}
#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.7;
    background: url(img/background.jpg.jpg);

}

#contact-box{
    display: flex;
    justify-content: center ;
    align-items: center;
    padding: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-family: 'Bree Serif', serif;

    font-size: 1.3rem;

}



footer{
    background: black;
    color: white;
    padding: 12px 12px;
}

/* utility class */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}
.h-secondar{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}



.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(208, 87, 87);
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
/* services */
.center{
    text-align: center;
}